.container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.searchbox-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.headtext {
	font-size: 2rem;
	font-weight: bold;
	color: #1f1f1f;
	text-overflow: clip;
}

.property-container {
	margin: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
	place-content: center;
	overflow: auto;
}

.property-card {
	background-color: #fff;
	width: 400px;
	height: auto;
	overflow: hidden;
	border-radius: 8px;
}

.img-cover {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.price-container {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	color: #a8a8a8;
}

.location-container {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	line-height: 0;
	color: #a8a8a8;
}

.svg-div {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 1px solid #ccc;
}
.price-text {
	font-size: 1.5rem;
	font-weight: bold;
	color: #8934eb;
	text-overflow: clip;
}

.title-text {
	font-size: 1.5rem;
	font-weight: bold;
	color: #1f1f1f;
	text-overflow: clip;
}

.hr-line {
	height: 1px;
	background-color: #ccc;
	margin: 1rem;
	margin-top: 0.25rem;
}

.property-info {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow: hidden;
	color: #a8a8a8;
}
.search-div {
	width: 20rem;
	height: 2.5rem;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
}
.search-input {
	border: none;
	font-size: 1rem;
	width: 15rem;
	height: 2.5rem;
}

.search-input:active,
.search-input:focus {
	outline: none;
	font-size: 1rem;
	width: 15rem;
	height: 2.5rem;
}

.filter-container {
	width: 100%;
	height: 5rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	background-color: #fff;
	border-radius: 5px;
}
.dropdown-div {
	width: 15rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	line-height: 2rem;
	background-color: #fff;
}

.verticle-line {
	width: 1px;
	height: 3rem;
	background-color: #ccc;
	margin: 0.5rem;
}

label {
	font-size: 1rem;
	font-weight: bold;
	color: #a8a8a8;
	text-overflow: clip;
}
button {
	width: 7rem;
	height: 2.5rem;
	border-radius: 8px;
	color: #fff;
	font-size: 1rem;
	background-color: #8934eb;
	border-style: none;
	cursor: pointer;
}
.custom-select {
	border-radius: 3px;
	color: #1f1f1f;
	padding-top: 0.5rem;
	padding-right: 30px;
	font-size: 1rem;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background: #fff
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>')
		no-repeat;
	background-position: right 5px top 50%;
	cursor: pointer;
}
.custom-select:active,
.custom-select:focus {
	outline: none;
}
.date-select {
	height: 2rem;
	border-radius: 3px;
	color: #1f1f1f;
	padding-right: 30px;
	font-size: 1rem;
	cursor: pointer;
	border: none;
}
.date-select:active,
.date-select:focus {
	outline: none;
}

@media screen and (max-width: 1024px) {
	.headtext {
		font-size: 1.5rem;
	}
	.property-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.headtext {
		font-size: 1.25rem;
	}
	.property-container {
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
	}
	.searchbox-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: 2.5rem;
	}
	.property-card {
		background-color: #fff;
		width: 300px;
		height: auto;
		overflow: hidden;
		border-radius: 8px;
	}
	.filter-container {
		width: auto;
		height: auto;
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-radius: 5px;
		padding: 2rem;
	}
	.verticle-line {
		display: none;
	}
	.dropdown-div {
		padding: 1rem;
	}
}
