.container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.searchbox-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.headtext {
	font-size: 2rem;
	font-weight: bold;
	color: #1f1f1f;
	text-overflow: clip;
}

.filter-container {
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 2rem;
}

.property-container {
	margin: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
	place-content: center;
	overflow: auto;
}

.property-card {
	background-color: #fff;
	width: 400px;
	height: auto;
	overflow: hidden;
	border-radius: 8px;
}

.img-cover {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.price-container {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
}

.location-container {
	margin: 1rem;
	display: flex;
	border: 1px solid #ccc;
	flex-direction: column;
	overflow: hidden;
	line-height: 0%;
}

@media screen and (max-width: 1024px) {
	.headtext {
		font-size: 1.5rem;
	}
	.property-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.headtext {
		font-size: 1.25rem;
	}
	.property-container {
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
	}
}
